In [2]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
s1 = 'sunshine state enjoy sunshine'
s2 = 'brown fox jump high, brown fox run'
s3 = 'sunshine state fox run fast'

corpus = [s1, s2, s3]
print(corpus)

['sunshine state enjoy sunshine', 'brown fox jump high, brown fox run', 'sunshine state fox run fast']

## Bag of Words

In [8]:
bow_vectorizer = CountVectorizer()
bag_of_words = bow_vectorizer.fit_transform(corpus)

features = bow_vectorizer.get_feature_names()
vocabulary = bow_vectorizer.vocabulary_
vectors = bag_of_words.toarray()

In [18]:
i = 0
for i in range(0, len(vectors)):
    print('s', i, ':', vectors[i])
    i =+ 1

s 0 : [0 1 0 0 0 0 0 1 2]
s 1 : [2 0 0 2 1 1 1 0 0]
s 2 : [0 0 1 1 0 0 1 1 1]

In [16]:
bow = pd.DataFrame(bag_of_words.toarray(), columns = features)
display(bow)

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

## Term frequency-inverse document frequency

In [22]:
tfidf_vectorizer = TfidfTransformer()
X = tfidf_vectorizer.fit_transform(bag_of_words)
idf = pd.DataFrame({'feature':features, 'idf':tfidf_vectorizer.idf_})
display(idf)

    feature       idf
0     brown  1.693147
1     enjoy  1.693147
2      fast  1.693147
3       fox  1.287682
4      high  1.693147
5      jump  1.693147
6       run  1.287682
7     state  1.287682
8  sunshine  1.287682

In [26]:
tf_idf = pd.DataFrame(np.round(X.toarray(),3) ,columns=features)
display(tf_idf)

   brown  enjoy   fast    fox   high   jump    run  state  sunshine
0  0.000  0.507  0.000  0.000  0.000  0.000  0.000  0.386     0.771
1  0.671  0.000  0.000  0.510  0.335  0.335  0.255  0.000     0.000
2  0.000  0.000  0.549  0.418  0.000  0.000  0.418  0.418     0.418

In [33]:
similarity = cosine_similarity(bow.iloc[[0,2]])

s = pd.DataFrame(similarity)
display(s)

          0         1
0  1.000000  0.547723
1  0.547723  1.000000